body
   {
    background-image: url(ocean.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Calibri, sans-serif;
    color: #fff;
  }
  
  /* Header styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  .navigation a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
  }
  
  /* Main styles */
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  
  h1 {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
  }
  
  h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  p {
    font-size: 18px;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 30px;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  /* Footer styles */
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .footer-text {
    font-size: 14px;
    text-align: center;
  }

  